<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    {% load static %}
    <link rel="stylesheet" href="{% static 'dashboard.css' %}">
</head>
<body>
    <div class="container">
        <div class="jumbotron">
            <h1>Welcome {{ user.first_name }} {{ user.last_name }}</h1>
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="/dashboard">Home</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
              
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                      <a class="nav-link" href="/myAccount">My Account <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                      <a class="nav-link" href="/orderHistory">Order History</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/favorites">Favorites</a>
                      </li>
                    <li class="nav-item active">
                      <a class="nav-link" href="/checkout">Checkout</a>
                    </li>
                  </ul>
                  <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                  </form>
                </div>
            </nav>
        </div>
        <div class="row">
            <div class="row">
                <h3>Build Your Taco</h3>
            </div>
            <div>
                <form action="/taco">
                    {% csrf_token %}
                    <div class="col">
                        <h3>Tortilla</h3>
                            <div>
                                <label for="flour">Flour</label>
                                <input type="checkbox" name="flour" id="flour" value="flour">
                            </div>
                            <div>
                                <label for="corn">Corn</label>
                                <input type="checkbox" name="corn" id="corn" value="corn">
                            </div>
                    </div>
                    <div class="col">
                        <h3>Ingredients</h3>
                            <div>
                                <label for="egg">Egg</label>
                                <input type="checkbox" name="egg" id="egg" value="egg">
                            </div>
                            <div>
                                <label for="bacon">Bacon</label>
                                <input type="checkbox" name="bacon" id="bacon" value="bacon">
                            </div>
                            <div>
                                <label for="potato">Potato</label>
                                <input type="checkbox" name="potato" id="potato" value="potato">
                            </div>
                            <div>
                                <label for="beans">Beans</label>
                                <input type="checkbox" name="beans" id="beans" value="beans">
                            </div>
                            <div>
                                <label for="sausage">Sausage</label>
                                <input type="checkbox" name="sausage" id="sausage" value="sausage">
                            </div>
                            <div>
                                <label for="rice">Rice</label>
                                <input type="checkbox" name="rice" id="rice" value="rice">
                            </div>
                            <div>
                                <label for="cheese">Cheese</label>
                                <input type="checkbox" name="cheese" id="cheese" value="cheese">
                            </div>
                            <div>
                                <label for="carneGuisada">Carne Guisada</label>
                                <input type="checkbox" name="carneGuisada" id="carneGuisada" value="carneGuisada">
                            </div>
                            <div>
                                <label for="chickenFajita">Chicken Fajita</label>
                                <input type="checkbox" name="chickenFajita" id="chickenFajita" value="chickenFajita">
                            </div>
                            <div>
                                <label for="beefFajita">Beef Fajita</label>
                                <input type="checkbox" name="beefFajita" id="beefFajita" value="beefFajita">
                            </div>
                            <div>
                                <label for="barbacoa">Barbacoa</label>
                                <input type="checkbox" name="barbacoa" id="barbacoa" value="barbacoa">
                            </div>
                            <div>
                                <label for="lengua">Lengua</label>
                                <input type="checkbox" name="lengua" id="lengua" value="lengua">
                            </div>
                    </div>
                    <div class="col">
                        <h3>Additions</h3>
                        <div>
                            <label for="cilandro">Cilandro</label>
                            <input type="checkbox" name="cilandro" id="cilandro" value="cilandro">
                        </div>
                        <div>
                            <label for="onions">Onions</label>
                            <input type="checkbox" name="onions" id="onions" value="onions">
                        </div>
                        <div>                         
                            <label for="cheese">Chese</label>
                            <input type="checkbox" name="cheese" id="cheese" value="cheese">
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</body>
</html>